name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      - name: Build App
        run: |
          npm install
          npm run build
          cp staticwebapp.config.json build/staticwebapp.config.json
        working-directory: ${{ github.workspace }}
        env:
          CI: false

      - name: Deploy Static Web App
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        env:
          CI: false
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_BRAVE_DESERT_05ECD4D00 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} 
          action: "upload"
          # アプリのロケーションを'build'フォルダ（最終成果物）にする
          app_location: "/" # App source code path
          api_location: "" # Api source code path - optional
          output_location: "build" # ビルド成果物が出力されるディレクトリ名 (例: Reactアプリの 'build' フォルダ)
          app_build_command: "CI=false npm run build" # アプリケーションをビルドするためのコマンド
          skip_app_build: true

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_BRAVE_DESERT_05ECD4D00 }}
          action: "close"


